# Path to the secret key of the account that will be used to deploy the contracts.
ODRA_CASPER_LIVENET_SECRET_KEY_PATH=/home/kuba/secret.pem

# RPC address of the node that will be used to deploy the contracts.
# ODRA_CASPER_LIVENET_NODE_ADDRESS=http://node.testnet.cspr.cloud
# ODRA_CASPER_LIVENET_EVENTS_URL=http://node.testnet.cspr.cloud
ODRA_CASPER_LIVENET_NODE_ADDRESS=https://node.testnet.casper.network/rpc
ODRA_CASPER_LIVENET_EVENTS_URL=https://node.testnet.casper.network/events

CSPR_CLOUD_AUTH_TOKEN=token
WASM_CLIENT_SK="-----BEGIN PRIVATE KEY----- ... ------END PRIVATE KEY-----"

# Application mode: 'production' or 'competition'
APP_MODE=production

# Path to market data database (optional)
DB_PATH=./market_data.db

# CSPR.click configuration
CSPR_CLICK_APP_NAME="Casper Delta"
CSPR_CLICK_APP_ID=your-app-id-here

 
# Price Feed Address (Styks Price Feed for CSPRUSD)
# Mainnet:
# PRICE_FEED_ADDRESS=hash-814fedbd4ae53b82ab19b1ff6698ce412445c3266271fcb639986d37dc0ae121
# Testnet:
PRICE_FEED_ADDRESS=hash-2879d6e927289197aab0101cc033f532fe22e4ab4686e44b5743cb1333031acc
 
# Wrapped CSPR Token Address
# Mainnet:
# WCSPR_TOKEN_ADDRESS=hash-64bcb70a81677bdb1bc2a6c555d3db595e741af609d6d4b35af39352ff716129
# Testnet:
WCSPR_TOKEN_ADDRESS=hash-3d80df21ba4ee4d66a2a1f60c32570dd5685e4b279f6538162a5fd1314847c1e

# Chain configuration.
# Mainnet:
# ODRA_CASPER_LIVENET_CHAIN_NAME=casper
# CHAIN_NAME=casper
# RPC_URL=https://mainnet-rpc.odra.dev
# SPECULATIVE_RPC_URL=https://mainnet-speculative-rpc.odra.dev
# EXPLORER_BASE=https://cspr.live/
# Testnet:
ODRA_CASPER_LIVENET_CHAIN_NAME=casper-test
CHAIN_NAME=casper-test
RPC_URL=https://testnet-rpc.odra.dev
SPECULATIVE_RPC_URL=https://testnet-speculative-rpc.odra.dev
EXPLORER_BASE=https://testnet.cspr.live/

# Contract addresses
# Market contract
# Mainet:
# MARKET_CONTRACT_ADDRESS=hash-...
# Testnet:
MARKET_CONTRACT_ADDRESS=hash-412764be7266d8431b5381ca1cbf840dbb93640ccc1b5c0393e40eb3c4aae519
# WCSPR contract (use regular WCSPR for production, faucetable for competition)
# Mainnet:
# WCSPR_CONTRACT_ADDRESS=hash-...
# Testnet:
WCSPR_CONTRACT_ADDRESS=hash-6c09a60d42b35329f20941bceb4bdb5b2104dd96ad2ff608b2784bef2c71a3f0
# Long token contract
# Mainnet:
# LONG_TOKEN_CONTRACT_ADDRESS=hash-...
# Testnet:
LONG_TOKEN_CONTRACT_ADDRESS=hash-226ef7940f010c57dcc2dd1e7d8c06e126472e28a11319aec8cd8d56bad162cb
# Short token contract
# Mainnet:
# SHORT_TOKEN_CONTRACT_ADDRESS=hash-...
# Testnet:
SHORT_TOKEN_CONTRACT_ADDRESS=hash-48f1fe2756bd9d66b1102c58e87a9ca6b2e33990571d9904b71c39df72417d11