# Path to the secret key of the account that will be used to deploy the contracts.
ODRA_CASPER_LIVENET_SECRET_KEY_PATH=/home/kuba/secret.pem

# RPC address of the node that will be used to deploy the contracts.
# ODRA_CASPER_LIVENET_NODE_ADDRESS=http://node.testnet.cspr.cloud
# ODRA_CASPER_LIVENET_EVENTS_URL=http://node.testnet.cspr.cloud
ODRA_CASPER_LIVENET_NODE_ADDRESS=https://node.testnet.casper.network/rpc
ODRA_CASPER_LIVENET_EVENTS_URL=https://node.testnet.casper.network/events

CSPR_CLOUD_AUTH_TOKEN=token
WASM_CLIENT_SK="-----BEGIN PRIVATE KEY----- ... ------END PRIVATE KEY-----"

# pplication mode: 'production' or 'competition'
APP_MODE=production

# Path to market data database (optional)
DB_PATH=./market_data.db

 
# Price Feed Address (Styks Price Feed for CSPRUSD)
# Mainnet:
# PRICE_FEED_ADDRESS=hash-814fedbd4ae53b82ab19b1ff6698ce412445c3266271fcb639986d37dc0ae121
# Testnet:
PRICE_FEED_ADDRESS=hash-2879d6e927289197aab0101cc033f532fe22e4ab4686e44b5743cb1333031acc
 
# Wrapped CSPR Token Address
# Mainnet:
# WCSPR_TOKEN_ADDRESS=hash-64bcb70a81677bdb1bc2a6c555d3db595e741af609d6d4b35af39352ff716129
# Testnet:
WCSPR_TOKEN_ADDRESS=hash-3d80df21ba4ee4d66a2a1f60c32570dd5685e4b279f6538162a5fd1314847c1e

# Chain configuration.
# Mainnet:
# ODRA_CASPER_LIVENET_CHAIN_NAME=casper
# CHAIN_NAME=casper
# RPC_URL=https://mainnet-rpc.odra.dev
# SPECULATIVE_RPC_URL=https://mainnet-speculative-rpc.odra.dev
# EXPLORER_BASE=https://cspr.live/
# Testnet:
ODRA_CASPER_LIVENET_CHAIN_NAME=casper-test
CHAIN_NAME=casper-test
RPC_URL=https://testnet-rpc.odra.dev
SPECULATIVE_RPC_URL=https://testnet-speculative-rpc.odra.dev
EXPLORER_BASE=https://testnet.cspr.live/